*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;  
}

html{
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    background: #F8F7F2 0% 0% no-repeat padding-box;
}

#root {
    min-height: 100%;   
  }

.app{
    min-height: 100%;
}
.without{
    display: flex;
    flex-direction: column;
    max-width: 1250px;
    min-height: 100%;
    margin: 0 auto;
}

.switch{
    min-height: 100%;
 
}

.app-footer{
    width: 100%;
    position:relative ;
    /* max-height: 100%; */
    left: 0px;
    bottom: 0px; 
    margin-top: 185px;
    padding-bottom: 0%;
    background: var(--darkgrey) 0% 0% no-repeat padding-box;
    background: #626262 0% 0% no-repeat padding-box;
}