.getByPubDate{
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}
.date-title{
    width: 100%;
    display: flex;
}

.date-div{
    width: 100%;
    display: flex;
    align-self: flex-start;
    padding-top: 20px;
}
