.navbar{
    margin: 20px 0 20px 0;
    display: flex;
}

.navbar ul{
    display: flex;
    margin: 0 auto;
    text-align: center;
    
}

.logo{
    padding-right: 50px;
    width: 177px;
    height: 58px;
}

.nav-li{
    list-style-type: none;
    margin-left: 10px;
    margin-top: 20px;
    padding-left: 5px;
    padding-right: 10px;
    position: relative;
}
.nav-li :hover{
    color: orange;
}

.nav-li::before{
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background-color: orange;
    border-radius: 50%;
    position: absolute;
    top: 7px;
    left: -12px;
}

.nav-li:first-child::before{
    display: none;
}

.nav-cat{
    text-decoration: none;
    font: normal normal bold 18px/24px Roboto;
    color: #A5A5A5;
    top: 67px;
    left: 654px;
    width: 457px;
    height: 24px;
    margin-right: 5px;
    margin-left: 5px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-18)/var(--unnamed-line-spacing-24) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--midgrey);
    text-align: left;
    font: normal normal bold 18px/24px Roboto;
    letter-spacing: 0px;
    color: #A5A5A5;
    text-transform: uppercase;
    opacity: 1;
}
.nav-btn{
    display: flex;
}

.loginbtn{
    cursor: pointer;
    font: normal normal bold 18px/24px Roboto;
    color: #A5A5A5;
    border-radius: 5px;
    margin-top: 10px;
    top: 57px;
    width: 108px;
    height: 44px;
    border: 1px solid var(--midgrey);
    border: 1px solid #A5A5A5;
    opacity: 1;
}

.or{
    top: 67px;
    width: 15px;
    height: 21px;
    font: var(--unnamed-font-style-normal) normal 900 16px/21px var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--orange);
    text-align: left;
    font: normal normal 900 16px/21px Roboto;
    letter-spacing: 0px;
    color: #F0972A;
    opacity: 1;
    margin-left: 15px;
    margin-top: 20px;
}

.createbtn{
    cursor: pointer;
    border-radius: 5px;
    top: 57px;
    width: 179px;
    height: 44px;
    background: var(--green) 0% 0% no-repeat padding-box;
    background: #96BB36 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    margin-top: 10px;
    margin-left: 15px;
    font: var(--unnamed-font-style-normal) normal 900 16px/21px var(--unnamed-font-family-roboto);
    color: var(--white);
    text-align: center;
    font: normal normal 900 16px/21px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    border: none;
}

.toggleTwo{
    
    display:flex;
    flex-direction: row;
    
    

}

.profileNav{
    padding-top: 20px;
    height: 24px;
    font: var(--unnamed-font-style-normal) normal 900 var(--unnamed-font-size-18)/var(--unnamed-line-spacing-24) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--green);
    text-align: left;
    font: normal normal 900 18px/24px Roboto;
    letter-spacing: 0px;
    color: #96BB36;
    text-transform: uppercase;
    opacity: 1;
}

.toggle-li{
    margin-right: 20px;
}

.toggle-li::before{
    content: "";
    display: block;
    width: 9px;
    height: 9px;
    background: var(--darkgrey) 0% 0% no-repeat padding-box;
    background: #626262 0% 0% no-repeat padding-box;
    border-radius: 50%;
    position: absolute;
    top:48px;
    margin-left:-15px;
    /* margin:auto */
}

.toggle-li:first-child::before{
    display: none;
}

.toggle-link-one{
    color: #96BB36;
    text-decoration-color: grey;
}

.toggle-link-two{
    color: #F0972A;
    text-decoration-color: grey;
}

.toggle-link-three{
    color: #B5B5B4;
    text-decoration-color: grey;
}