.blur{
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    backdrop-filter: blur(10px);
    z-index: 1;
}
.popup{
    position: fixed;
    width: 1027px;
    height: 599px;
    /* background: var(--white) 0% 0% no-repeat padding-box; */
    border: 1px solid var(--lightgrey);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 20px #00000012;
    border: 1px solid #D8D8D8;
    border-radius: 5px;
    opacity: 1;
    display: flex;
    top:199px;
    left:447px;
    z-index: 1;

}

.popup-inner{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin:5px auto;
}

.popup-title-div{
    display: flex;
    flex-direction: row;
    margin:5px 30px;    
}

.popup-title{
    top: 221px;
    left: 479px;
    width: 467px;
    height: 50px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 38px/50px var(--unnamed-font-family-roboto-slab);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--orange);
    text-align: left;
    font: normal normal bold 38px/50px Roboto Slab;
    letter-spacing: 0px;
    color: #F0972A;
    opacity: 1;
    padding-top: 10px;
}

.close{
    /* width: 37px;
    height: 37px; */
    opacity: 1;
    top: 227px;
    left: 1411px;
    padding-left: 500px;
    padding-top: 10px;
}

.popup-container{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.popup-left{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin:20px 30px;
}

.popup-img{
    top: 293px;
    left: 479px;
    width: 412px;
    height: 243px;
    border-radius: 5px;
    opacity: 1;   
}

.popup-cat{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 20px;
  
}

.cat-title{
    top: 558px;
    /* left: 479px; */
    width: 134px;
    height: 24px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-18)/var(--unnamed-line-spacing-24) var(--unnamed-font-family-roboto-slab);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--green);
    text-align: left;
    font: normal normal bold 18px/24px Roboto Slab;
    letter-spacing: 0px;
    color: #96BB36;
    opacity: 1;
    margin-top: 5px;
}

.green-cat{
    flex-wrap: wrap;
    width: 62px;
    height: 26px;
    background: var(--green) 0% 0% no-repeat padding-box;
    background: #96BB36 0% 0% no-repeat padding-box;
    border-radius: 15px;
    opacity: 1;
    margin-left: 215px;
}
.cat-p{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-19) var(--unnamed-font-family-roboto-slab);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--white);
    text-align: center;
    font: normal normal bold 14px/19px Roboto Slab;
    letter-spacing: 0px;
    color: #FFFFFF;
    margin:4px;

}

.popup-desc{
    width: 412px;
    height: 126px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 16px/21px var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--midgrey);
    text-align: left;
    font: normal normal normal 16px/21px Roboto;
    letter-spacing: 0px;
    color: #A5A5A5;
    opacity: 1;
    margin-top: 30px;
}

.popup-right{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.full-recipe{
    width: 504px;
    height: 436px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 16px/21px var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--midgrey);
    text-align: left;
    font: normal normal normal 16px/21px Roboto;
    letter-spacing: 0px;
    color: #A5A5A5;
    opacity: 1;
    margin-top: 15px;
}